@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Mukta:wght@200&family=Roboto+Slab:wght@300;400&display=swap');
.container {
    width: 100%;
    background-color: white;
    margin: 1px auto;
    padding: 0;
    font-size: 13px;
    font-family: 'Kalam', cursive;
    font-family: 'Mukta', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.head_1 {
    margin: 8px 4px;
    font-size: 14px;
    padding: 8px;
    border: 0.1px solid rgb(92, 80, 80);
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: rgb(250, 252, 252);
    /* border-radius: 3px; */
    box-shadow: 0.5px;
}

.head_2 {
    font-size: 14px;
    margin: 1px 4px;
    padding: 8px;
    border: 1px solid rgb(92, 80, 80);
    background-color: rgb(250, 252, 252);
    border-radius: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: 0.5px;
}

.head_3 {
    font-size: 14px;
    margin: 1px 4px;
    padding: 10px;
    border: 2px solid rgb(92, 80, 80);
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: rgb(250, 252, 252);
    box-shadow: 0.5px;
}

.sp_1 {
    color: rgb(59, 155, 174);
    padding: 10px;
    border: 1px solid grey;
    border-left: none;
    border-bottom: none;
}

.post h3 {
    padding: 15px;
    border-bottom: 1px solid rgb(164, 166, 167);
}

.subHead {
    display: flex;
    flex-direction: row;
    color: rgb(37, 36, 36);
}

.logo {
    margin: 15px auto;
    width: 25px;
    height: 25px;
}

.subHead img {
    margin-right: 10px;
    align-items: end;
}

.para {
    color: rgb(18, 17, 17);
}

.foot {
    display: flex;
    flex-direction: row;
    color: rgb(108, 111, 111);
}

.foot_1 {
    margin: 2px;
    padding: 10px;
}

.foot_2 {
    margin: 2px;
    padding: 10px;
}

.sp_2 {
    color: rgb(85, 85, 225);
    font-weight: bold;
}